{
    "openapi": "3.0.3",
    "info": {
      "title": "suno-api",
      "description": "Use API to call the music generation service of Suno.ai.",
      "version": "1.0.0"
    },
    "tags": [
      {
        "name": "audio"
      },
      {
        "name": "lyrics"
      },
      {
        "name": "billing"
      },
      {
        "name": "clerk"
      }
    ],
    "servers":[
      {
        "url": "https://studio-api.suno.ai",
        "description": "Suno studio api"
      }
    ],
    "paths": {
      "/api/generate/{version}/": {
        "post": {
          "description": "Generate audio based on Prompt.",
          "tags": ["audio"],
          "parameters": [
            {
              "name": "version",
              "in": "path",
              "description": "Api version",
              "required": true,
              "schema":{
                "type": "string",
                "default": "v2",
                "nullable": false
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/audio_generation_request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/audio_result"
                  }
                }
              }
            }
          }
        }
      },
      "/api/clip/{clip_id}": {
        "get": {
          "description": "Get audio information.",
          "tags": ["audio"],
          "parameters": [
            {
              "name": "clip_id",
              "in": "path",
              "description": "The id of the clip.",
              "required": true,
              "schema":{
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/clip_info"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/bad_request"
            },
            "401": {
              "$ref": "#/components/responses/unauthorized"
            },
            "500": {
              "$ref": "#/components/responses/internal_server_error"
            }
          }
        }
      },
      "/api/gen/{clip_id}/convert_wav/": {
        "post": {
          "description": "Convert audio clip into wav format.",
          "tags": ["audio"],
          "parameters": [
            {
              "name": "clip_id",
              "in": "path",
              "description": "The id of the clip.",
              "required": true,
              "schema":{
                "type": "string"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "No content."
            }
          }
        }
      },
      "/api/gen/{clip_id}/wav_file/": {
        "get": {
          "description": "Get audio clip in wav format.",
          "tags": ["audio"],
          "parameters": [
            {
              "name": "clip_id",
              "in": "path",
              "description": "The id of the clip.",
              "required": true,
              "schema":{
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/wav_info"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/bad_request"
            },
            "401": {
              "$ref": "#/components/responses/unauthorized"
            },
            "500": {
              "$ref": "#/components/responses/internal_server_error"
            }
          }
        }
      },
      "/api/feed/": {
        "get": {
          "description": "Get audio feed.",
          "tags": ["audio"],
          "parameters": [
            {
              "name": "ids",
              "in": "query",
              "description": "The ids of the clips.",
              "schema":{
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/clip_info"
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/unauthorized"
            }
          }
        }
      },
      "/api/generate/concat/{version}/": {
        "post": {
          "description": "Concatenate selected audio clip with all its historical clips to generate a complete song.",
          "tags": ["audio"],
          "parameters": [
            {
              "name": "version",
              "in": "path",
              "description": "Api version",
              "required": true,
              "schema":{
                "type": "string",
                "default": "v2",
                "nullable": false
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/audio_concat_request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/clip_info"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/bad_request"
            },
            "401": {
              "$ref": "#/components/responses/unauthorized"
            },
            "500": {
              "$ref": "#/components/responses/internal_server_error"
            }
          }
        }
      },
      "/api/generate/lyrics/": {
        "post": {
          "description": "Generate lyrics based on Prompt.",
          "tags": ["lyrics"],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lyrics_generation_request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/lyrics_info"
                  }
                }
              }
            }
          }
        }
      },
      "/api/generate/lyrics/{lyric_id}": {
        "get":{
          "description": "Get generated lyrics.",
          "tags": ["lyrics"],
          "parameters": [
            {
              "name": "lyric_id",
              "in": "path",
              "description": "The id of generated lyrics.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/lyrics_result"
                  }
                }
              }
            }
          }
        }
      },
      "/api/billing/info": {
        "get": {
          "description": "Get billing information.",
          "tags": ["billing"],
          "responses": {
            "200": {
              "description": "success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/billing_info"
                  }
                }
              }
            }
          }
        }
      },
      "/{version}/client": {
        "servers":[
          {
            "url": "https://clerk.suno.com",
            "description": "Suno clerk api"
          }
        ],
        "get": {
          "security":[],
          "description": "Get sessions.",
          "tags": ["clerk"],
          "parameters": [
            {
              "name": "version",
              "in": "path",
              "description": "Api version",
              "required": true,
              "schema":{
                "type": "string"
              }
            },
            {
              "name": "_clerk_js_version",
              "in": "query",
              "description": "clerk js version",
              "schema":{
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/client_result"
                  }
                }
              }
            }
          }
        }
      },
      "/{version}/client/sessions/{session_id}/tokens": {
        "servers":[
          {
            "url": "https://clerk.suno.com",
            "description": "Suno clerk api"
          }
        ],
        "post": {
          "security":[],
          "description": "Get session token.",
          "tags": ["clerk"],
          "parameters": [
            {
              "name": "version",
              "in": "path",
              "description": "Api version",
              "required": true,
              "schema":{
                "type": "string"
              }
            },
            {
              "name": "session_id",
              "in": "path",
              "description": "Session id",
              "required": true,
              "schema":{
                "type": "string"
              }
            },
            {
              "name": "_clerk_js_version",
              "in": "query",
              "description": "clerk js version",
              "schema":{
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/token_info"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "responses":{
        "bad_request":{
          "description": "Request has invalid data or parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/error"
              }
            }
          }
        },
        "unauthorized":{
          "description": "Request is unauthorized.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/error"
              },
              "example":{
                "detail": "Unauthorized"
              }
            }
          }
        },
        "notfound":{
          "description": "Resource is not found.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/error"
              }
            }
          }
        },
        "internal_server_error":{
          "description": "Internal server error.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/error"
              }
            }
          }
        }
      },
      "schemas": {
        "audio_generation_request":{
          "type": "object",
          "required": ["prompt"],
          "properties": {
            "gpt_description_prompt": {
              "$ref": "#/components/schemas/gpt_description_prompt"
            },
            "tags": {
              "$ref": "#/components/schemas/tags"
            },
            "prompt": {
              "$ref": "#/components/schemas/prompt"
            },
            "title":{
              "type": "string",
              "description": "The title of the generated audio.",
              "example": "Love Song"
            },
            "make_instrumental": {
              "type": "boolean",
              "description": "Whether to generate instrumental music.",
              "example": "false"
            },
            "mv": {
              "type": "string",
              "description": "Model version.",
              "example": "chirp-v3-5|chirp-v3-0"
            },
            "continue_clip_id":{
              "type": "string",
              "description": "The id of the clip to extend."
            },
            "continue_at":{
              "type": "number",
              "description": "Time in seconds to extend from."
            }
          }
        },
        "audio_result":{
          "type": "object",
          "description": "The result of generated audios",
          "required": [
            "id",
            "status",
            "metadata",
            "created_at"
          ],
          "properties":{
            "id": {
              "type": "string",
              "description": "Generation request id."
            },
            "clips":{
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/clip_info"
              },
              "allOf":[
                {
                  "maxItems": 2,
                  "minItems": 2
                }
              ]
            },
            "status": {
              "type": "string",
              "description": "The generated states include submitted, queue, streaming, complete."
            },
            "metadata":{
              "$ref": "#/components/schemas/clip_metadata"
            },
            "created_at": {
              "type": "string",
              "description": "Create time"
            }
          }
        },
        "clip_info": {
          "type": "object",
          "description": "Info about the audio clip.",
          "required": [
            "id",
            "status",
            "metadata",
            "created_at"
          ],
          "properties": {
            "id": {
              "type": "string",
              "description": "audio id"
            },
            "title": {
              "type": "string",
              "description": "music title"
            },
            "audio_url": {
              "type": "string",
              "description": "music download url"
            },
            "image_url": {
              "type": "string",
              "description": "music cover image"
            },
            "video_url": {
              "type": "string",
              "description": "Music video download link, can be used to share"
            },
            "created_at": {
              "type": "string",
              "description": "Create time"
            },
            "model_name": {
              "type": "string",
              "description": "suno model name, chirp-v3"
            },
            "status": {
              "$ref": "#/components/schemas/status"
            },
            "metadata":{
              "$ref": "#/components/schemas/clip_metadata"
            }
          }
        },
        "clip_metadata":{
          "type": "object",
          "description": "Metadata of the audio clip.",
          "properties":{
            "gpt_description_prompt": {
              "$ref": "#/components/schemas/gpt_description_prompt"
            },
            "tags": {
              "$ref": "#/components/schemas/tags"
            },
            "prompt": {
              "$ref": "#/components/schemas/prompt"
            },
            "audio_prompt_id": {
              "type": "string",
              "description": "The clip id of the audio which serves as the audio prompt for executing the generation task."
            },
            "type": {
              "type": "string",
              "description": "Type of the audio. 'gen' for generated, 'upload' for uploaded"
            },
            "duration": {
              "type": "number",
              "description": "The clip duration in seconds."
            },
            "refund_credits": {
              "type": "boolean",
              "description": "Whether credits will be refunded."
            },
            "has_vocal": {
              "type": "string",
              "description": "Whether clip has vocal or not."
            },
            "error_type": {
              "type": "string",
              "description": "The error type if any error."
            },
            "error_message": {
              "type": "string",
              "description": "The error message if any error."
            },
            "history": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/clip_history_info"
              }
            }
          }
        },
        "clip_history_info": {
          "type": "object",
          "description": "History info about the audio clip.",
          "properties": {
            "id": {
              "type": "string",
              "description": "Clip id."
            },
            "continue_at": {
              "type": "number",
              "description": "Continue at in seconds."
            },
            "type": {
              "type": "string",
              "description": "Clip type."
            },
            "infill": {
              "type": "boolean",
              "description": "Infill or not."
            }
          }
        },
        "wav_info": {
          "type": "object",
          "description": "Wav info about the audio clip.",
          "properties": {
            "wav_file_url": {
              "type": "string",
              "description": "wav download url"
            }
          }
        },
        "audio_concat_request":{
          "type": "object",
          "required": ["clip_id"],
          "properties": {
            "clip_id": {
              "type": "string",
              "description": "The id of the clip."
            }
          }
        },
        "lyrics_generation_request":{
          "type": "object",
          "required": ["prompt"],
          "properties": {
            "prompt": {
              "type": "string",
              "description": "Prompt to generate lyrics"
            }
          }
        },
        "lyrics_info":{
          "type": "object",
          "description": "The info of generated lyrics.",
          "properties":{
            "id": {
              "type": "string",
              "description": "The id of generated lyrics."
            }
          }
        },
        "lyrics_result":{
          "type": "object",
          "description": "The result of generated lyrics",
          "properties":{
            "text": {
              "type": "string",
              "description": "Lyrics text."
            },
            "title":{
              "type": "string",
              "description": "Lyrics title."
            },
            "status": {
              "$ref": "#/components/schemas/status"
            }
          }
        },
        "billing_info":{
          "type": "object",
          "description": "The info of billing.",
          "properties": {
            "total_credits_left": {
              "type": "number",
              "description": "Remaining credits."
            },
            "period": {
              "type": "string",
              "description": "Period"
            },
            "monthly_limit": {
              "type": "number",
              "description": "Monthly limit"
            },
            "monthly_usage": {
              "type": "number",
              "description": "Monthly usage"
            }
          }
        },
        "client_result":{
          "type": "object",
          "properties":{
            "response":{
              "$ref": "#/components/schemas/client_info"
            }  
          }
        },
        "client_info":{
          "type": "object",
          "description": "The info of client.",
          "properties": {
            "object": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "sessions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/session_info"
              }
            },
            "last_active_session_id": {
              "type": "string"
            },
            "created_at": {
              "type": "number"
            },
            "updated_at": {
              "type": "number"
            }
          }
        },
        "session_info":{
          "type": "object",
          "description": "The info of the client session.",
          "properties": {
            "object": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "created_at": {
              "type": "number"
            },
            "updated_at": {
              "type": "number"
            }
          }
        },
        "token_info":{
          "type": "object",
          "description": "The info of auth token.",
          "properties": {
            "object": {
              "type": "string"
            },
            "jwt": {
              "type": "string"
            }
          }
        },
        "tags": {
          "type": "string",
          "description": "Music genre. User-provided in custom mode, automatically generated by Suno in simple mode."
        },
        "prompt": {
          "type": "string",
          "description": "The final prompt for executing the generation task, customized by the user in custom mode, automatically generated by Suno in simple mode."
        },
        "gpt_description_prompt": {
          "type": "string",
          "description": "The prompt to generate tags, title, lyrics, etc. Will overwrite user provided information."
        },
        "status": {
          "type": "string",
          "description": "The generated states include submitted, queued, streaming, complete."
        },
        "error":{
          "type": "object",
          "properties":{
            "detail": {
              "type": "string",
              "description": "Error detail."
            }
          }
        }
      },
      "securitySchemes":{
        "bearerAuth":{
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        }
      }
    },
    "security":[
      {
        "bearerAuth": []
      }
    ]
  }
  